.autocomplete-items {
  position: absolute;
  inset: 0 auto auto 0;
  z-index: 99999;
  visibility: hidden;
  max-height: 13rem;
  overflow-y: auto;

  .autocomplete-item {
    cursor: pointer;
  }
}
