#app {
    height: 100vh;
    //overflow: auto;
}

header {
    height: 3.5rem;
}

.feedback-container {
    height: 2.25rem;
}

main {
    padding-top: 0.5rem;
    min-height: calc(100vh - 8rem);
    padding-bottom: 0.5rem;
}

#modals {
    background-color: white;
}
#loginModal {
    z-index: 999999;
}

@media screen and (max-width: 576px) {
    .page > .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-collapse.show {
    z-index: 999999;
}

.striped > *:nth-child(even) {
    background-color: rgba(222, 226, 230, 0.25) !important;
}

.is-selected {
    background-color: rgba(0, 0, 255, 0.25);
}
.is-deleted {
    background-color: rgba(220, 53, 69, 0.25);

    .form-control,
  &.form-control,
  input,
  textarea,
  //button,
  &.card,
  select {
        background-color: rgba(220, 53, 69, 0.25);
    }
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    font-size: 1.05rem;
}

textarea.form-control {
    min-height: 7.5rem;
}

.form-subtitle {
    padding: 0.375rem 0.75rem;
    margin: 0.5rem 0;
    background-color: rgba(13, 202, 240, 0.25); // --bs-info-rgb
    position: relative;
    border-radius: 0.375rem;

    button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0.325rem 0.75rem;
    }
}

$bgLight: rgba(13, 202, 240, 0.25);

.feedback-container {
    background-color: $bgLight;
}
.form-section {
    .form-section-title {
        background-color: $bgLight;
    }
}

.list-view {
    max-width: 800px;
}

.disabled-link {
    pointer-events: none;
}
a[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

.drag-handle {
    // based on .input-group-text
    align-items: center;
    padding: 0.4rem 0.75rem;
    line-height: 1.5;
    color: #212529;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.inherited,
.italic-muted {
    opacity: 0.6;
    font-style: italic;
}

.cursor {
    &.pointer {
        cursor: pointer;
    }
    &.move {
        cursor: move;
    }
    &.block {
        cursor: not-allowed;
    }
}

.input-group.floating {
    input,
    select {
        height: 3.5rem;
    }
}
.input-selector.floating {
    input,
    select {
        height: 3.5rem;
    }
}

.file-drop-zone {
    border: 0.5rem dashed rgba(13, 202, 240, 0.25);

    &.dropping {
        opacity: 0.6;
    }
}

.hover-line:hover {
    opacity: 0.6;
}

.debug {
    opacity: 0.8;

    &.pre {
        white-space: pre-wrap;
    }
}
